# dependencies
node_modules/

# Next.js build output
.next/

# production
out/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build files
dist/
