@import 'tailwindcss';

:root {
	--background: no-repeat
		linear-gradient(#84efff 50%, 50%, #d9fff7);
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: no-repeat
			linear-gradient(
				45deg,
				#004382 10%,
				10%,
				#011664 40%,
				40%,
				#000b24
			);
		--foreground: #ededed;
	}
}

@theme {
	--color-dark-25: 0;
}

html {
	background-color: black;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes input-animation {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	25% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

*:focus {
	outline: 0 solid red !important;
}

.input-animation {
	animation: input-animation 150ms linear 1 backwards;
}

.opacity-slow {
	transition-property: opacity;
	transition-duration: 300ms;
}

.transform-fast {
	transition-property: transform;
	transition-duration: 700ms;
}
