@import 'tailwindcss';

:root {
	--background: no-repeat linear-gradient(#84d8ff, #d9fff7);
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: no-repeat
			linear-gradient(#003e5a -60%, #000b24 80%);
		--foreground: #ededed;
	}
}

@theme {
	--color-dark-25: 0;
}

html {
	background-color: black;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
